---
import { ICON_MAP } from "../constants/icons";

import { cn } from "../utils/classNames";

interface Props {
  links: Record<string, string>;
  size?: number;
  section?: "header" | "footer" | "release" | "social" | "link";
}

const { links, size = 22, section = "social" }: Props = Astro.props;

---

<div
  class={cn(
    "flex flex-wrap gap-4 w-full justify-center",
    section === "release" && "justify-start gap-2"
  )}
>
  {
    Object.entries(links).map(([key, url]) => {
      const Icon = ICON_MAP[key.toLowerCase()];
      if (!Icon) return null;
      return (
        <a
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          class={cn(
            "text-foreground/70 hover:text-foreground duration-300 transition-all",
            section === "header" && "hover:-translate-y-1",
            section === "release" &&
              "w-10 h-10 bg-foreground/10 backdrop-blur-xl rounded-lg border-foreground/20 hover:border-foreground/40 transition-all duration-200 hover:scale-110 flex items-center justify-center hover:bg-foreground/20"
          )}
          aria-label={key}
        >
          <Icon size={size} />
        </a>
      );
    })
  }
</div>
